/** Login forms **/
.bg-login {
    background: #343a40;
}

.form-login {
    width: 400px;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    background: #fafafa;
}

.form-signup {
    width: 600px;
    padding: 20px;
    margin-top: 100px;
    background: #fafafa;
    text-align: center;
}

.form-signup label {
    text-align: left;
}

body {
    font-family: 'FontAwesome';
    color: #4f5f6f;
}

/*** dashboard ***/
.dashboard .info-block {
    width: 500px;
    height: 535px;
    padding: 10px;
    margin: auto;
    background: white;
    text-align: center;
}

.dashboard .title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.dashboard .info-block .stat-icon {
    width: 50px;
    height: 85px;
    text-align: center;
    font-size: 40px;
    vertical-align: middle;
    display: inline-block;
}

.dashboard .stats-table .row {
    height: 100px;
}

.dashboard .stats-table .title {
    margin-bottom: 30px;
}

.dashboard .med-icon {
    font-size: 40px;
}

.dashboard .small-icon {
    font-size: 30px;
}

.dashboard .info-block .stat {
    display: inline-block;
}

.dashboard .info-block .stat .value {
    font-size: 20px;
}

.dashboard .info-block .stat .name {
    font-size: 14px;
}

.dashboard .line-block {
    width: 1108px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background: white;
    text-align: center;
}

/*** Sensors ***/
.sensors {
    width: 1000px;
    margin: auto;
    padding-bottom: 40px;
    background: white;
}

.sensors .top-menu {
    padding-top: 20px;
}

.sensors .top-menu a {
    margin-left: 57px;
}

.sensors h4 {
    margin-top: 30px;
}

.sensors .header {
    font-weight: bold;
}

.sensors .in {
    color: blue;
}

.sensors .out {
    color: red;
}

.sensors .top-link {
    margin: auto;
}

/*** Rack Temperatures ***/
.temperatures {
    width: 1000px;
    padding: 20px;
    margin: auto;
    background: white;
}

.temperatures h4 {
    margin-top: 40px;
}

/*** Power Consumption ***/
.consumption .col-6 {
    margin-top: 30px;
}

.consumption .chart-frame {
    width: 540px;
    height: 600px;
    padding: 10px;
    background: white;
}

.consumption .chart-frame div {
    font-size: 18px;
    font-weight: bold;
}

.consumption .msg {
    margin-top: 240px;
}

/*** Solar Production ***/
.production .row {
    margin-top: 30px;
}

.production .chart-frame {
    width: 540px;
    height: 600px;
    padding: 10px;
    background: white;
}

.production .nodata {
    font-size: 18px;
    margin-top: 235px;
}

.production .line-block {
    width: 1108px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background: white;
    text-align: center;
}

.production .title {
    margin-bottom: 26px;
    font-size: 20px;
    font-weight: bold;
}

.production .field {
    margin-left: 14px;
    text-align: left;
}

.production .field-icon {
    width: 50px;
    height: 74px;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    display: inline-block;
}

.production .field-value {
    margin-left: 10px;
    display: inline-block;
}

/** users page ***/
.users {
    width: 1000px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    background: white;
}

.users h4 {
    margin-top: 30px;
}

.users .row {
    margin-top: 10px;
}

.users .btn {
    margin: auto;
    margin-top: 10px;
}

.users select {
    width: 325px;
    height: 30px;
}

/** password page ***/
.password {
    width: 1000px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    background: white;
}

.password .row {
    margin-top: 10px;
}

.password .btn {
    margin: auto;
    margin-top: 10px;
}

/** PV commands page ***/
.commands {
    width: 1000px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    background: white;
}

.commands .container {
    width: 800px;
}

.commands .title {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    background: #eee;
}

.commands .status {
    width: 100px;
    margin: auto;
}

.commands .legend {
    font-weight: bold;
}

.commands .actions {
    margin-bottom: 20px;
}

.commands .actions .btn {
    width: 200px;
}
