[Unit]
Description=Dashboard
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/dashboard
# Take care of using at least python3.7 otherwise the order of the dictionnaries
# are not guaranteed. The dict order affects the order of the sensors are displayed
ExecStart=/usr/local/bin/python3.7 dashboard.py
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
