{% extends "base.html" %}
{% block other_js %}
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/consumption.js"></script>
{% endblock %}
{% block content %}
<div class="consumption">
    <div class="container text-center">
        <div class="row">
            <div class="col-6">
                <div class="chart-frame">
                    <div>Switch Consumption (W)</div>
                    <div>
                        Total:
                        <span id="switch-total">0 W</span>
                    </div>
                    <canvas id="switch-doughnut"></canvas>
                    <div id="switch-msg" class="msg">No power consumption</div>
                </div>
            </div><!-- col -->
            <div class="col-6">
                <div class="chart-frame">
                    <div>Cooling Consumption (W)</div>
                    <div>
                        Total:
                        <span id="cooling-total">0 W</span>
                    </div>
                    <canvas id="cooling-doughnut"></canvas>
                    <div id="cooling-msg" class="msg">No power consumption</div>
                </div>
            </div><!-- col -->
        </div><!-- row -->
        <div class="row">
            <div class="col-6">
                <div class="chart-frame">
                    <div>Rack z1.1 Consumption (W)</div>
                    <div>
                        Total:
                        <span id="rack1-total">0 W</span>
                    </div>
                    <canvas id="rack1-doughnut"></canvas>
                    <div id="rack1-msg" class="msg">No power consumption</div>
                </div>
            </div><!-- col -->
            <div class="col-6">
                <div class="chart-frame">
                    <div>Rack z1.2 Consumption (W)</div>
                    <div>
                        Total:
                        <span id="rack2-total">0 W</span>
                    </div>
                    <canvas id="rack2-doughnut"></canvas>
                    <div id="rack2-msg" class="msg">No power consumption</div>
                </div>
            </div><!-- col -->
        </div><!-- row -->
        <div class="row">
            <div class="col-6">
                <div class="chart-frame">
                    <div>Rack z1.4 Consumption (W)</div>
                    <div>
                        Total:
                        <span id="rack4-total">0 W</span>
                    </div>
                    <canvas id="rack4-doughnut"></canvas>
                    <div id="rack4-msg" class="msg">No power consumption</div>
                </div>
            </div><!-- col -->
            <div class="col-6">
                <div class="chart-frame">
                    <div>Rack z1.5 Consumption (W)</div>
                    <div>
                        Total:
                        <span id="rack5-total">0 W</span>
                    </div>
                    <canvas id="rack5-doughnut"></canvas>
                    <div id="rack5-msg" class="msg">No power consumption</div>
                </div>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- dashboard -->
{% endblock %}
