{% extends "base.html" %}
{% block other_js %}
{% endblock %}
{% block content %}
<div class="users">
    <center><h4>Update your Password</h4></center>
    <form action="/update-pwd" method="POST" class="container">
        <div class="row">
            <div class="col">
                New Password:
            </div>
            <div class="col">
                <input type="password" name="pwd" required>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col">
                Confirm New Password:
            </div>
            <div class="col">
                <input type="password" name="confirm_pwd" required>
            </div>
        </div><!-- row -->
        <center><button class="btn btn-lg btn-primary" type="submit">
            Update Password 
        </button></center>
    </form>
</div><!-- users -->
{% endblock %}
