{% extends "base.html" %}
{% block other_js %}
{% endblock %}
{% block content %}
<div class="users">
    <center><h4>Add New Administrators</h4></center>
    <form action="/add-admin" method="POST" class="container">
        <div class="row">
            <div class="col">
                Email address:
            </div>
            <div class="col">
                <input type="email" name="email" required>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col">
                Password:
            </div>
            <div class="col">
                <input type="password" name="pwd" required>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col">
                Confirm Password:
            </div>
            <div class="col">
                <input type="password" name="confirm_pwd" required>
            </div>
        </div><!-- row -->
        <center><button class="btn btn-lg btn-primary" type="submit">
            Add Adminstrator 
        </button></center>
    </form>
    <center><h4>Existing Administrators</h4></center>
    <ul>
        {% for admin in existing %}
            <li>{{admin}}</li>
        {% endfor %}
    </ul>
    <center><h4>Remove Administrators</h4></center>
    <form action="/del-admin" method="POST" class="container">
        <div class="row">
            <div class="col">
                Select the administrator to remove:
            </div>
            <div class="col">
                <select name="email">
                    {% for admin in existing %}
                        <option>{{admin}}</option>
                    {% endfor %}
                </select>
            </div>
        </div><!-- row -->
        <center><button class="btn btn-lg btn-danger" type="submit">
            Remove Adminstrator 
        </button></center>
    </form>
</div><!-- users -->
{% endblock %}
